.info-item {
  background-color: #f6f6f6;
  width: 150px;
  height: 40px;
  text-align: right;
  padding-right: 10px;
}

td {
  padding-left: 10px;
  border-top: solid 1px #868686;
}
table {
  border-collapse: collapse;
  border-bottom: solid 1px #868686;
  width: 100%;
}

#newPhone1,
#newPhone2,
#newPhone3 {
  width: 45px;
}

#newProfilePic,
#newNick,
#newPwd,
#pwdCheck,
#newAddress,
#newEmail {
  width: 170px;
  margin-right: 10px;
}
