* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 20px;
}

.search {
  display: flex;
  width: 40%;
  margin-bottom: 20px;
}

.search input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.searchBtn {
  width: 10%;
  margin: 5px 10px 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.item {
  min-width: 70vh; /* 최소 너비 설정 */
  max-width: 70vh; /* 최소 너비 설정 */
  background: white;
  border: 1px solid #ced4da;
  padding: 10px;
  cursor: pointer;
}

.item:last-child {
  border: 1px solid #ced4da;
}

.title {
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 1000;
  word-wrap: break-word;
  padding-left: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 한 줄까지 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
}

.content {
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 두 줄까지 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
}

.likeCount,
.commentCount {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  padding-right: 15px;
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center;
}

.likeImg {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 5px;
}

.commentImg {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 5px;
}

.status {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.paginationContainer {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 가운데 정렬 */
}

/* 페이지 버튼 */
.pagination button {
  padding: 6px 12px;
  margin: 10px 5px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
}

/* 활성 페이지 버튼 */
.active {
  font-weight: bold;
}

.btnContainer {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

/* 작성 버튼 */
.btn {
  margin: 10px;
  padding: 8px 15px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
}
