.comment_parent {
  border: 1px solid #ced4da;
  border-top: none;
  padding: 10px;
} 

.commentInfo {
  display: flex;
  align-items: center;
  
}

.commentInfo img {
  width: 3vh;
  height: 3vh;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.comment__nickname {
  font-weight: 1000;
  font-size: 15px;
}
.comment__date {
  padding-left: 10px;
  color: grey;
  font-size: 14px;
}
.comment__isEdited {
  padding-left: 5px;
  color: grey;
  font-size: 14px;
}

.comment__option {
  display: flex;
  list-style: none;
  color: grey;
  margin-left: auto;
}

.comment__option li {
  margin-left: 10px;
}

.comment__option button {
  all: unset;
  cursor: pointer;
}

.editComment {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 (선택 사항) */
  border: 1px solid #ced4da;
  border-right: none;
  margin: 5px -10px 0px 30px;
  /*위 오른쪽 아래 왼쪽*/
  background-color: #f8f9fa;
  padding: 5px;
}

.editComment input {
  flex: 1;
  margin-right: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  background-color: #f8f9fa;
}

.editComment button {
  padding: 8px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: grey;
}

.comment__content {
  margin: 10px;
}

.comment__status {
  display: flex;
  list-style: none;
  align-items: center;
}

.comment__status li {
  color: grey;
  display: flex;
  align-items: center; /* 세로축 가운데 정렬 */
  justify-content: center; /* 가로축 가운데 정렬 */
  margin: 0px 10px 10px 10px;
}

.comment__status img {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 5px;
}

.reply {
  border: 1px solid #ced4da;
  padding: 10px;
  background-color: #f8f9fa;
  margin-left: 30px;
  margin-right: -10px;
  border-right: none;
}

/* 두 번째부터 .reply 요소에는 border-top을 없앱니다 */
.reply + .reply {
  border-top: none;
}

.writeReply {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 (선택 사항) */
  border: 1px solid #ced4da;
  border-right: none;
  margin: 5px -10px 0px 30px;
  /*위 오른쪽 아래 왼쪽*/
  background-color: #f8f9fa;
  padding: 5px;
}

.writeReply input {
  flex: 1;
  margin-right: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  background-color: #f8f9fa;
}

.writeReply button {
  padding: 8px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: grey;
}
