.Sidebar {
  width: 320px;
  align-items: center;
}

.SidebarList {
  padding: 0;
  width: 100%;
  align-items: center;
}

.side-wrap {
  position: absolute;
  top: 100px;
  height: 100%;
}

.Sidebar .h3-mypage {
  margin-top : 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: #242424;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.SidebarList .row {
  height: 50px;
  list-style-type: none;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #484848;
}

.Sidebar .row:hover {
  cursor: pointer;
}

/*헤더*/
.root-wrap {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
}

.header-wrap {
  height: 100px;
  width: 80%;
  margin : auto;
  display: flex;
  align-items: center;
}

.header-left-wrap {
  display: flex;
  align-items: center;
}

.header-nav-item {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  margin-left: 40px;
}

