.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.postContainer {
  margin: 10px;
  width: 70vh;
}

h2 {
  text-align: center;
  font-size: 20px;
}

.search {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 70%;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search button {
  width: 60px;
  margin: 10px;
  padding: 8px 15px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
}

.postItemContainer {
  border: 1px solid #ced4da;
}

.posts__item {
  min-width: 70vh; 
  max-width: 70vh;
  padding: 15px;
  cursor: pointer;
}

.posts__item:not(:last-child) {
  border-bottom: 1px solid #ced4da; /* 마지막 요소를 제외한 모든 요소에 border-bottom 적용 */
}

.posts__item > * {
  margin-bottom: 10px;
}

.posts__item > *:last-child {
  margin-bottom: 0;
}

.posts__category {
  color: green;
  font-weight: bold;
}

.posts__title {
  font-size: 15px;
  font-family: Inter;
  font-weight: 1000;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.posts__content {
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.posts__status {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.posts__status li {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.posts__status img {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 5px;
}

.paginationAndButtonContainer {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 20px;
}

.paginationContainer {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #fff; 
  transition: background-color 0.3s, color 0.3s; 
}

.pagination a:hover {
  background-color: #e9ecef;
}

.pagination .active a {
  font-weight: bold;
}

.pagination .disabled a {
  color: #ccc; 
  cursor: not-allowed;
}

.posts__btnContainer {
  display: flex;
  justify-content: flex-end; 
}

/* 작성 버튼 */
.posts__btnContainer button {
  margin: 10px;
  padding: 8px 15px;
  width: 60px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
  display: inline-block;
}
