.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post__parent {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
}

.post__container {
  border: 1px solid #ced4da;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.post__userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.post__userInfo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20%;
  margin-right: 10px;
}

.post__nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.post__date {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 13px;
}

.post__option {
  display: flex;
  list-style: none;
  margin-left: auto;
  color: grey;
}

.post__option li {
  margin-left: 10px;
}

.post__isEdited {
  margin: 0 0 5px 5px;
  color: grey;
  font-size: 14px;
}

.post__option button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.post__view {
  font-size: 13px;
  color: grey;
}

.post__title, .post__content {
  word-wrap: break-word;
  word-break: break-word; 
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.post__title {
  font-size: 24px;
  font-weight: 700;
}

.post__content {
  font-size: 16px;
  font-weight: 400;
}

.post__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.post__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post__status {
  display: flex;
  list-style: none;
  padding: 10px 0;
  gap: 10px;
  justify-content: flex-start;
}

.post__status li {
  display: flex;
  align-items: center;
  color: grey;
}

.post__status img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post__btnContainer {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.post__btnContainer button {
  padding: 5px 12px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  justify-content: flex-end;
  display: inline-block;
  color: rgb(103, 102, 102);
}

.writeComment {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-top: none;
  padding: 5px;
  background-color: #f8f9fa;
}

.commentText {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  background-color: #f8f9fa;
}

.post__submit {
  padding: 6px 10px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
  display: inline-block;
  color: rgb(103, 102, 102);
}

@media (max-width: 600px) {
  .post__parent {
    width: 100%;
  }

  .post__title, .post__content {
    font-size: 18px;
  }
}
