.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 2rem; 
  margin: 20px;
}

.write__parent {
  width: 40%;
  max-width: 800px;
  margin: auto; 
}

.write__title {
  width: 100%; /* 부모의 전체 너비 사용 */
  border: 1px solid #ced4da;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  box-sizing: border-box;
  min-width: 0;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-top: none;
  resize: none;
  padding: 15px;
  margin-bottom: 0;
}

.write__imgContainers {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ced4da;
  border-bottom: none;
  padding: 10px;
}

.write__previewImg {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  margin-right: 5px;
  border: 1px solid #ced4da;
  padding: 5px;
}

.write__btnContainer {
  border: 1px solid #ced4da;
  padding: 15px;
}

.write__btnContainer img {
  width: 3vh;
  height: 3vh;
}

.write__submit {
  padding: 8px;
  width: 50px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
  display: inline-block;
  float: right;
}

/* 미디어 쿼리로 반응형 디자인 추가 */
@media (max-width: 768px) {
  .categorySelector {
    flex: 1 1 auto; /* 너비를 자동으로 조정 */
    max-width: none; /* 최대 너비 제한 제거 */
    padding: 10px;
  }

  .input {
    min-width: 200px; /* 작은 화면에서 제목의 최소 너비 조정 */
  }

  h2 {
    font-size: 1.5rem; /* 화면이 좁아지면 폰트 크기 조정 */
  }

  .parent {
    width: 100%; /* 작은 화면에서는 전체 너비 사용 */
    padding: 10px;
  }

  .submit {
    float: none; /* 버튼이 화면 너비에 맞게 조정되도록 */
    margin: 10px 0; /* 위아래 마진 추가 */
  }

  .imgContainers {
    flex-direction: column; /* 이미지가 세로로 정렬되도록 */
  }

  .previewImg {
    width: 20vh; /* 작은 화면에서 이미지 크기 조정 */
    height: 20vh;
  }
}
